@font-face {
  font-family: "Nunito";
  src: url("assets/font/Nunito-Regular.ttf");
}

* {
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif;
}
.footer {
  margin-top: 44px;
  margin-bottom: 32px;
}
.footer > p {
  transform: translateX(-240px);
}
